<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.juggler.CropWallpaper"
      android:versionCode="31"
      android:versionName="1.31">
   
    <uses-sdk
    	android:minSdkVersion="7" 
        android:targetSdkVersion="14"
    />

   	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true"
    />
	
	<uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
		android:name="jp.juggler.CropWallpaper.MyApp"
	>

        <activity
            android:name=".FolderListScreen"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|fontScale|screenSize"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
	            <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
        	android:name=".ImageListScreen"
        	android:label="@string/app_name"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|fontScale|screenSize"
        >
        </activity>

        <activity
        	android:name=".MyPrefScreen"
        	android:label="@string/app_name"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|fontScale"
        >
        </activity>
        
        <!-- CropWallpaper だけは縦横が変わったときにインスタンスを再構築させる  -->
        <activity android:name=".CropWallpaper"
                  android:label="@string/app_name"
                  android:process=":CropWallpaper"
                  android:configChanges="keyboard|keyboardHidden|fontScale"
        >
            <intent-filter>
	            <action android:name="android.intent.action.SEND" />
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>


</manifest> 